.bannerPC {
  display: block;
}
.bannerMB {
  display: none;
}
.group_btn {
  display: flex;
  height: 60px;
  margin: auto;
  justify-content: center;
  width: 65vw;
  z-index: 99;
  margin-top: -10vh;
}
.btn_scroll {
  background: transparent;
  border: 0;
  bottom: auto;
  cursor: pointer;
  height: 100%;
  left: auto;
  position: static;
  transform: translate(0);
  width: 50%;
  z-index: 99;
}
.btn_open_modal {
  background: transparent;
  border: 0;
  bottom: auto;
  cursor: pointer;
  height: 100%;
  left: auto;
  position: static;
  transform: translate(0);
  width: 50%;
  z-index: 99;
}
.cps-container {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 70vw;
}
.timeline {
  margin: 0 auto;
  width: 60vw;
  padding: 20px 0;
  display: block;
}
.chuongtrinhPc {
  display: block;
}
.chuongtrinhMB {
  display: none;
}
.bannerPc {
  display: block;
}
.bannerMB {
  display: none;
}
.timelineMB {
  margin: 0 auto;
  width: 60vw;
  padding: 20px 0;
  display: none;
}
@media screen and (max-width: 1440px) {
  .group_btn {
    display: flex;
    height: 60px;
    margin: auto;
    justify-content: center;
    width: 65vw;
    z-index: 99;
    margin-top: -11vh;
  }
}
@media screen and (max-width: 1000px) {
  .group_btn {
    display: flex;
    height: 60px;
    z-index: 99;
    margin-top: -9vh;
  }
  .timelineMB {
    margin: 0 auto;
    width: 85vw;
    padding: 20px 0;
    display: block;
  }
  .timeline {
    display: none;
    margin: 0 auto;
    width: 80vw;
    padding: 20px 0;
  }
  .chuongtrinhPc {
    display: none;
  }
  .chuongtrinhMB {
    display: block;
  }
  .bannerPc {
    display: none !important;
  }
  .bannerMB {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .group_btn {
    height: 40px;
  }
  .timelineMB {
    margin: 0 auto;
    width: 95vw;
    padding: 20px 0;
  }
  .bannerPC {
    display: none;
  }
  .bannerMB {
    display: block;
  }
}
