.product_info_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  display: flex;
  flex-flow: column;
  height: auto;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 202px;
  padding: 0px;
  position: relative;
  width: auto;
  height: 450px;
}
.product_info {
  padding: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.product_info a {
  color: #444;
  cursor: pointer;
  text-decoration: none;
}
.product__image {
  text-align: center;
}
.product__img {
  transition: transform 0.3s ease;
}
.product__img:hover {
  transform: scale(1.05);
}
.product__image img {
  margin: 0px auto;
  width: 160px;
  height: 100%;
  min-height: 190px;
}
.two_line {
  margin-bottom: 5px;
}
.two_line h3 {
  margin-left: 10px;
  height: 40px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.product__price {
  color: #444;
  font-size: 14px;
  text-align: center;
}

.last_price {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #444;
  font-size: 14px;
  margin: 10px auto;
  padding: 3px 0;
  text-align: center;
}

.last_price {
  background: transparent;
  border: 0;
  color: #bc271a;
  display: block;
  font-weight: 600;
  margin-bottom: 0;
  width: 100%;
}

.apple_cross_sell {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #444;
  font-size: 14px;
  width: 200px;
  margin: 5px auto;
  padding: 2px 16px;
  text-align: center;
}
.product_container {
  width: 255px;
}
.button_buy {
  background-color: red;
  padding: 6px;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  color: #fff;
  font-weight: 500;
}
.button_buy:hover {
  background-color: rgb(250, 96, 96);
  cursor: pointer;
}
@media (max-width: 768px) {
  .product_container {
    width: 32vw;
  }
}
@media (max-width: 767px) {
  .product_info_container {
    padding: 0px;
  }
  .product_container {
    width: 48vw;
  }
  .apple_cross_sell {
    font-size: 13px;
    width: 40vw;
    padding: 6px 4px;
  }
  .last_price {
    font-size: 13px;
  }
  .two_line h3 {
    font-size: 13px;
  }
}
