.imageWrapper {
  display: block;
  width: 60vw;
  margin: 0 auto;
  padding: 20px 0;
}
.container {
  background-color: #1d1d1f;
  overflow: hidden;
  width: 100vw;
}
.uudaiPc {
  display: block;
}
.uudaiMb {
  display: none;
}
@media (max-width: 1000px) {
  .uudaiPc {
    display: none !important;
  }
  .uudaiMb {
    display: block;
  }
}
@media (max-width: 768px) {
  .imageEdit {
    transform: scale(1.6);
  }
  .imageWrapper {
    display: block;
    width: 100vw;
    margin: 0 auto;
    padding: 20px 0;
  }
}
