.itemProduct {
  color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 12px 40px;
  padding: 0 0 12px;
  text-align: center;
  vertical-align: top;
  /* width: calc(25% - 24px); */
}
.wrapImg {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.wrapImg img {
  background: none;
  display: inline;
  height: auto;
  opacity: 1 !important;
  width: 150px;
  height: 150px;
}
.productName {
  align-items: center;
  border-radius: 8px;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  justify-content: center;
  line-height: 120%;
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
}
.productPrice {
  align-items: baseline;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  line-height: 1;
  margin: 0 auto 0px;
  width: -moz-max-content;
  width: max-content;
}
.productPrice span {
  font-size: 18px;
  font-weight: 400;
  padding-right: 10px;
}
.productPrice b {
  font-size: 28px;
  font-weight: 700;
}
.listCapacity {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin: 0 auto 10px;
  position: relative;
}
.listCapacity div {
  border: 1px solid #fff;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 4px;
  padding: 5px 8px;
  position: relative;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.listColorProduct {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.listColorProduct div {
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  margin-top: 0;
  padding: 2px;
  position: relative;
  vertical-align: middle;
  width: 28px;
  position: relative;
  transition: all 0.3s ease;
}
.groupButtonMobile {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.content {
  margin-bottom: 10px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button_buy {
  background-color: red;
  padding: 6px;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  color: #fff;
  font-weight: 500;
}
.button_buy:hover {
  background-color: rgb(250, 96, 96);
  cursor: pointer;
}
.listColorProduct div.selected {
  border-width: 3px; /* Tăng độ dày của border khi được chọn */
  transform: scale(1.1); /* Phóng to một chút để nổi bật hơn */
}
.listCapacity div.active {
  background-color: #fff;
  color: #000;
}
@media (max-width: 1024px) {
  .listColorProduct div {
    height: 15px;
    width: 15px;
  }
  .wrapImg img {
    width: 100px;
    height: 100px;
  }
  .productName {
    font-size: 16px;
    margin: 0 auto 6px;
  }
  .productPrice span {
    font-size: 16px;
  }
  .listColorProduct div.selected {
    border-width: 2px;
  }
  .productPrice {
    margin: 0 auto 10px;
  }
  .productPrice b {
    font-size: 20px;
    font-weight: 700;
  }
  .listColorProduct {
    gap: 6px;
  }
  .groupButtonMobile {
    margin-top: 0px;
  }
  .listCapacity {
    height: 70px;
  }
}
