.comboImage {
  width: 60vw;
  display: block;
  margin: auto;
}
.BoxCombo {
  padding: 0px;
  max-height: 555px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.expanded {
  max-height: none;
}

.expandButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}
@media (max-width: 1000px) {
  .comboImage {
    width: 100vw;
  }
}
