.carousel_wrapper {
  width: 70vw;
  margin: auto;
}

.carousel_item {
  display: inline-block;
  width: 20%; /* Show 5 items per slide */
  padding: 0 10px; /* Add some spacing between items */
  box-sizing: border-box;
}

.ant-carousel .slick-list .slick-track {
  display: flex !important; /* Ensure the items are in a row */
}

.ant-carousel .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: auto !important; /* Adjust to let items display correctly */
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-carousel .slick-prev,
:where(.css-dev-only-do-not-override-qnu6hi).ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  color: red;
  opacity: 0.4;
  background: transparent;
  padding: 0;
  line-height: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}
.tabs_wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
.tab_item {
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  .carousel_wrapper {
    width: 85vw;
  }
}
@media (max-width: 1000px) {
  .carousel_wrapper {
    width: 90vw;
  }
}
@media (max-width: 840px) {
  .carousel_wrapper {
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .tab_item {
    font-size: 14px;
  }
  .button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    width: 150px;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
  }
}
